body{
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#mainText{
    font-size: 50px;
    font-weight:600;
    width: 700px;
    text-align: center;
    margin-bottom: 70px;
}

#subText{
    font-size: 25px;
    width: 700px;
    margin-bottom: 50px;
}
#mainBox{
    margin-top: 60px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid; /* Adjust the thickness as needed */
    border-image: linear-gradient(to right, blue, red) 1;
}
#topBar{
    width: 100%;
    margin: 0 auto;
    height: 50px;
    display: flex;
    justify-content: end;
}

.topLink{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
    font-weight: bold;
}
#whiteLine{
    width: 100%;
    margin: 0 auto;
    height: 2px;
    background-color: white;
}
#textLeft{
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 140px;
    display: inline-block;
    width: auto;
}